# === Secrets & Config ===
.env
.env.local

# === Java / Maven ===
target/
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# === Docker ===
# Ignore the actual database files stored on your disk
mysql_data/

# === IDE Settings ===
# IntelliJ
.idea/
*.iml
out/
# VS Code
.vscode/
.factorypath
# Eclipse
.settings/
.classpath
.project

# === OS Files ===
.DS_Store
Thumbs.db